[Unit]
Description=BBMesh Meshtastic Version
After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=20
User=pi
WorkingDirectory=/home/pi/BBMesh
ExecStart=/home/pi/BBMesh/venv/bin/python3 /home/pi/BBMesh/server.py

[Install]
WantedBy=multi-user.target
